---
import { Image } from "astro:assets";
import portrait from "../assets/portrait_mini.png";
import menuIcon from "../assets/logos/menu.png";
---

<nav class="flex flex-col lg:flex-row justify-between w-full">
    <div class="flex justify-between px-10 py-5" id="top_nav">
        <ul class="flex gap-5 items-center">
            <Image src={portrait} alt="" width="50" />
            <li class="">Loïc Grancher - Developeur Web</li>
        </ul>
        <div class="bg-white bg-opacity-30 rounded p-3 w-fit lg:hidden">
            <Image src={menuIcon} alt="" id="menuIcon"  />
        </div>
    </div>
    <ul
        class="flex flex-col lg:flex-row gap-5 items-center hidden lg:flex bg-black bg-opacity-90 lg:bg-transparent lg:w-auto p-7 lg:p-5"
        id="menu"
    >
        <li>
            <a href="/" class="hover:underline hover:underline-offset-8"
                >Accueil & Contact</a
            >
        </li>
        <li>
            <a href="/parcours" class="hover:underline hover:underline-offset-8"
                >Parcours</a
            >
        </li>
        <li>
            <a
                href="/formation"
                class="hover:underline hover:underline-offset-8">Formations</a
            >
        </li>
        <li>
            <a
                href="/competences"
                class="hover:underline hover:underline-offset-8">Competences</a
            >
        </li>
        <li>
            <a
                href="/portfolio"
                class="hover:underline hover:underline-offset-8">Portfolio</a
            >
        </li>
    </ul>
</nav>
<script>
    document.addEventListener("click", function (event) {
        const target = event.target as HTMLTextAreaElement;
        if (target.id === "menuIcon") {
            const menu = document.querySelector("#menu");
            const topNav = document.querySelector("#top_nav");
            const nav = document.querySelector("nav");
            menu?.classList.toggle("hidden");
            topNav?.classList.toggle("bg-black");
            topNav?.classList.toggle("bg-opacity-90");
            nav?.classList.toggle("fixed");
        }
    });
</script>
